<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}'s Watchlist</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
	        <div class="alert">{{ message }}</div>
    {% endfor %}
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">
        {{ user.name }}'s Watchlist
    </h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
        </ul>
    </nav>
    <p>{{movies|length}} Titles</p>
    <form method="post">
        <!--autocomplete 属性设为 off 来关闭自动完成（按下输入框不显示历史输入记录）；-->
        <!--另外还添加了 required 标志属性，如果用户没有输入内容就按下了提交按钮，浏览器会显示错误提示-->
        Name <input type="text" name="title" autocomplete="off" required>
        Year <input type="text" name="year" autocomplete="off" required>
        <input class="button" type="submit" name="submit" value="Add">
    </form>
    {% block content %}{% endblock %}
    <footer>
        <small>&copy; 2020 <a href="https://movie.douban.com/">豆瓣</a></small>
	</footer>
</body>
</html>